<ion-header [translucent]="true">
  <ion-toolbar>
    <meta charset="utf-8">
    <ion-title>Leaflet Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map"></div>
</ion-content>
